:root{
--Soft-orange: hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);
--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all ease-in 0.2s;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  margin: 0;
  background-color:#5D8679;
  max-height: 100vh;
  overflow: hidden;
}
ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
ul li{
  margin: 0 10px;
  background-color: #317a866b;
  color: #b8d0ce;
  cursor: pointer;
  padding: 5px 10px;
  height: 30px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  @media(max-width: 350px){
    margin: 0 5px;
    padding: 5px 5px;
  }
}
li.active{
  background-color: #317A86;
}
.btns span{
  background-color: #317A86;
  color: #b8d0ce;
}
.slides .imgs{
  width: 500px;
  position: relative;
  span{
    width: 37px;
    height: 20px;
    background-color: #81bdbda1;
    color: #b8d0ce;
    position: absolute;
    top: 0px;
    left: 7px;
    cursor: default;
    line-height: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
}
.slides img{
  width: 100%;
  height: 200px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.slides{
  display: flex;
  justify-content: center;
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

}
.tex{
  
}
.btns{
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: auto;
  margin-top: 15px;
  @media (max-width: 540px){
    width: 100%;
  }
}
.pagin{
  padding: 0;
  width: 80%;
}
.next,.pre{
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  height: 30px;
  
}

.next.notActive,.pre.notActive{
  /* width: 20%; */
  cursor: not-allowed;
  background-color: #317a866b;
}
